/*Este é minha folha de estilo CSS */
body{
	font-family: arial;
}	

h1{
	font-size: 50pt;
	font-family: arial;
	color: #CEF09D;
	background-color:#38184C;
	text-align: center;
	padding: 30px;
	margin: 30px;
}

p.destaque{
font-size: 20px;
text-align: right;
}

.pequeno{
	font-size:10px;
	text-align: left;
}