body{
    color: #64868E;
    background-color: rgb(185, 236, 228);
    text-align: center;
}



h2{
    text-align: center;
	letter-spacing: 5px;
}   
.rs{
    width: 20px;
    height: 20px;
}
    


h5{
    text-decoration-color: azure;
}
h6{
   
    text-transform: uppercase;
	letter-spacing: 4px;
}



#toggle{
	display: none;
}

.imgjpg{
	width:200px;
	height:200px;
}

