ody{
	font-family: 'Open Sans', sans-serif;
	background-color: #FAF8DA;
	margin: 0;
}
/*
---Como inserir uma fonte de diretório. ---
font-face{
	font-family: Brokenbrush;
	src:url('../fonts/Brokenbrush.ttf');
}
h1{
	font-family: 'Brokenbrush', sans-serif;
}
*/

header{
	text-align: center;

}
h1{
	font-size: 70px;
	color: #205d76;
}
.header{

}
/* Section */
article{
	display: flex;
	margin: 50px auto;
	width: 450px;
}
.article{

}